.navbar {
  width: 100%;
  height: 70px;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5px;
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
}
.navbar .left {
  margin-left: 2.5rem;
}
.logo {
  width: 200px;
}
.navbar .right {
  display: flex;
}
.navbar .right button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  font-size: 22px;
  cursor: pointer;
  padding: 10px 13px;
  color: #f1f1f1;
  background: #222;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}
.navbar .right button:hover {
  color: orangered;
  border: 1px solid orangered;
}
